* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1;
    cursor: pointer;
    transition: 1.3s;
}

h5 {
    color: white;
    font-size: 5rem;
}

.p-index {
    color: white;
    font-size: 2.5rem;
}

.icon {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: white;
    margin-top: 50px;
}

.icon {
    margin-top: 90px;
}

/* h2 {
    margin: 50px 20px;
    color: white;
} */

.titulo-nosotros {
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.main-nosotros {
    display: flex;
    flex-wrap: wrap;
}

.foot-nosotros {
    margin-top: 150px;
}

main.contacto {
    margin-left: 250px;
}

.form-contacto {
    margin-top: 70px;
}

.form-select {
    display: flex;
    justify-content: center;
    width: 100%;
   margin-top: 150px;
}

.quote-nosotros {
    color: white;
}

.form-floating {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 35px;
}